<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{shop_base}}/site_media/css/style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
    <div id="container">
    
    <div id="top">
        <h1>{{shop_name}}</h1>
    </div>
    
    <div id="navbar">
    {% block navbar %}
    Breadcrumbs here
    {% endblock %}
    </div>
    
        <div id="leftnav">
            {% block sidebar %}
            Shop Categories<br/>
            {% for category in categories %}
                {% if not category.parent %}
                    <a href="{{category.get_absolute_url}}">{{category}}</a><br/>
                    <ul>
                    {% for child in category.get_tree %}

                        {% ifnotequal child.0 "end" %}
                          <ul><li><a href="{{child.1}}">{{child.0}}</a></li>
                        {% endifnotequal %}
                        
                        {% ifequal child.0 "end" %}

                           </ul>
                        </ul>
                        {% endifequal %}
                        
                    {% endfor %}


                {% endif %}
            {% endfor %}
            {% endblock %}
        </div>
        
        <div id="rightnav">
            Account Information<br/>
            <a href="{{shop_base}}/cart">Cart({{cart_count}})</a>
        </div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    
        <div id="footer">
            Powered by Satchmo
        </div>
        
    </div>
</body>