{% extends "base.html" %}
{% load i18n %}
{% load satchmo.thumbnail %}

{% block extra-head %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block navbar %}

<a href="{{ shop_base }}/">{% trans "Home" %}</a> 
{% for urls in category.get_url_name %}
    ::<a href="{{urls.1}}">{{ urls.0 }}</a>
{% endfor %}

{% endblock %}


{% block content %}
<div id="product_category">
<h3>{{ category.name }}</h3>
    <ul>
    {% for product in category.product_set.active %} 
            <li><a href="{{ product.get_absolute_url }}">
            <img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" /> </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
    {% endfor %}
    </ul>
{% if child_categories %}
        {% for cat in child_categories %}
            <h4>{{cat.name}}</h4>
            <ul>
            {% for product in cat.product_set.active %}
                <li><a href="{{ product.get_absolute_url }}">
                <img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" /> </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
{% endif %}
</div>
{% endblock %}
