{% extends "base.html" %}
{% load satchmo.thumbnail %}
{% block title %}The Web Shop{% endblock %}

{% block content %}
Welcome to the shop. 
{% if all_items %}
    <h4>Featured Items</h4>
    <ul>
    {% for item in all_items %}
        <li>          
           {% if item.main_image %}
                 <img src="{{ item.main_image.get_picture_url|thumbnail:"width=75" }}" width="75" />
           {% endif %}     
        {{ item.verbose_name }} 
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}