{% extends "base.html" %}
{% load satchmo.thumbnail %}

{% block navbar %}
<a href="/shop">Home</a> :: {{item.category}}
{% endblock %}

{% block content %}
<h4>{{ item.verbose_name }}</h4>
<p>{{ item.description }}</p>
<h3>${{ item.price }}</h3>
{% for pic in item.itemimage_set.all %}
    <img src="{{ pic.get_picture_url|thumbnail:"width=280" }}" width="280" />
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/cart/{{ item.id }}/add/" method="post">
<p>Please choose your options:</p>
{% for option in item.option_group.all %}
 {{ option }}
    <select name="{{ option }}" id="{{option}}{{ forloop.counter }}">
    {% for choice in option.optionitem_set.all %}
     <option value="{{ choice }}">{{ choice }}</option>
    {% endfor %}
    </select>
{% endfor %}

<input type="submit" value="Add to cart" />
</form>
{% endblock %}