{% extends "base.html" %}
{% load satchmo.thumbnail %}
{% block title %}The Web Shop{% endblock %}

{% block content %}
Welcome to the shop. 
{% if all_items %}
    <h4>Featured Items</h4>
    {% for item in all_items %} 
            <div class = "productImage">    
           {% if item.main_image %}
              <center>
              <a href="{{ item.get_absolute_url }}"><img src="{{ item.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" /> </a>
              </center>
           {% endif %}     
            <p><a href="{{ item.get_absolute_url }}">{{ item.verbose_name }}</a></p>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}