{% extends "base.html" %}
{% load satchmo.thumbnail %}
{% block title %}The Web Shop{% endblock %}

{% block content %}
Welcome to the shop. 
{% if all_items %}
    <h4>Featured Items</h4>
    {% for item in all_items %} 
            <div class = "productImage">    
           {% if item.main_image %}
              <center>
              <img src="{{ item.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" />
              </center>
           {% endif %}     
            <p>{{ item.verbose_name }}</p>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}