{% load category_display %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{shop_base}}/site_media/css/style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
    <div id="container">
    
    <div id="top">
        <h1>{{shop_name}}</h1>
    </div>
    
    <div id="navbar">
    {% block navbar %}
    Breadcrumbs here
    {% endblock %}
    </div>
    
        <div id="leftnav">
            {% block sidebar %}
            Shop Categories<br/>
            <div id="menu_list">
            {% for category in categories %}
                {% if not category.parent %}
                    {% category_tree category.id %}
                {%endif%}
                
            {% endfor %}
                
            {% endblock %}
            </div>
        </div>
        
        <div id="rightnav">
            Account Information<br/>
            {% if user.is_authenticated %}
                <a href="{{shop_base}}/account/info">Account Details</a> <br/>
                <a href="{{shop_base}}/account/logout">Logout</a><br/>
            {% else %}
                <a href="{{shop_base}}/account/login">Login</a> <br/>
            {% endif %}
            

            <a href="{{shop_base}}/cart">Cart({{cart_count}})</a>
            
        </div>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    
        <div id="footer">
            Powered by Satchmo
        </div>
        
    </div>
</body>