{% load satchmo.currency_filter %}
{% extends "base.html" %}

{% block navbar %}
<a href="{{shop_base}}">Home</a> ::
Checkout
{% endblock %}

{% block content %}
<h3>Checkout</h3>
<div id="checkoutprogress">
<ul>
    <li class="first"><a href="{{shop_base}}/checkout">Ship/Bill</a></li>
    <li><a href="{{shop_base}}/checkout/pay">Payment</a></li>
    <li class="active">Confirmation</li>
</ul>
</div>
{% if errors %}
    <h3>The following error was returned while trying to process your card.  Please correct and resubmit</h3>
    {{ errors }}
{% else %}
    <h3>Please validate the following information, then submit your order.</h3>
{% endif %}
<h4>Items Ordered</h4>
{% for item in order.orderitem_set.all %}
{{ item }} - {{item.unitPrice|currency}} x {{item.quantity}} = {{item.lineItemPrice|currency}}<br/>
{% endfor %}

<h4>Contact Information</h4>
{{ order.contact.full_name }}<br/>
{{ order.contact.email }}<br/>
{{ order.contact.primary_phone.phone }}<br/>

<h4>Billing Information</h4>
{{ order.fullBillStreet }}<br/>
{{ order.billCity }} <br/>
{{ order.billState }}<br/>
{{ order.billPostalCode }}<br/>
{{ order.billCountry }}<br/>

<h4>Shipping Address</h4>
{{ order.fullShipStreet }}<br/>
{{ order.shipCity }}<br/>
{{ order.shipState }}<br/>
{{ order.shipPostalCode }}<br/>
{{ order.shipCountry }}<br/>
<h4>Shipping Method</h4>
{{ order.shippingDescription }}<br/>
{{ order.shippingMethod }} <br/>
{{ order.shippingCost|currency }} <br/>

<h4>Total</h4>
{% if order.discount %}
    Discount - {{order.discount|currency}}<br/>
{% endif %}
Shipping + {{order.shippingCost|currency}}<br/>
{% if order.tax %}
    Tax + {{order.tax|currency}}<br/>
{% endif %}
Total = {{order.total|currency}}<br/>

<h4>Payment</h4>
Your {{ order.CC.creditType }} card ending in 
{{ order.CC.displayCC}} will be charged - {{order.total|currency}}

<form method="post" action=".">
<input type="hidden" name="Process" value="True">
<input type="submit" value="Purchase Items"/>
</form>

</div>
{% endblock %}
