{% extends "base.html" %}

{% block navbar %}
<a href="{{shop_base}}/">Home</a> ::
Checkout
{% endblock %}

{% block content %}
<h3>Checkout</h3>
<div id="checkoutprogress">
<ul>
    <li class="first">Ship/Bill</li>
    <li>Payment</li>
    <li>Confirmation</li>
</ul>
</div>
<h4>Please complete the following information in order to submit your order.</h4>
{% if form.non_field_errors %}
<h2>Please correct the following error:</h2>
{{ form.non_field_errors }}
{% endif %}

<table>
<form method="post" action=".">
    <tr><td><label for="id_email">Email address</label></td> <td>{{ form.email }}</td></tr>
    <tr><td></td><td>{% if form.email.errors %}*** {{ form.email.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_first_name">First name</label></td><td> {{ form.first_name }}</td></tr>
    <tr><td></td><td>{% if form.first_name.errors %}*** {{ form.first_name.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_last_name">Last name</label></td><td> {{ form.last_name }}</td></tr>
    <tr><td></td><td>{% if form.last_name.errors %}*** {{ form.last_name.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><label for="id_phone">Phone number</label></td><td> {{ form.phone }}</td></tr>
    <tr><td></td><td>{% if form.phone.errors %}*** {{ form.phone.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><h4>Billing Information</h4></td></tr>
    
    <tr><td><label for="id_street1">Street</label></td><td> {{ form.street1 }}</td></tr>
    <tr><td></td><td>{% if form.street1.errors %}*** {{ form.street1.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_street2">Street</label></td><td> {{ form.street2 }}</td></tr>
    <tr><td></td><td>{% if form.street2.errors %}*** {{ form.street2.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_city">City</label></td><td> {{ form.city }}</td></tr>
    <tr><td></td><td>{% if form.city.errors %}*** {{ form.city.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_state">{{country.get_adm_area_display}}</label></td><td> {{ form.state }}</td></tr>
    <tr><td></td><td>{% if form.state.errors %}*** {{ form.state.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><label for="id_postalCode">Zip code</label></td><td> {{ form.postalCode }}</td></tr>
    <tr><td></td><td>{% if form.postalCode.errors %}*** {{ form.postalCode.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><label for="id_country">Country</label></td><td> {{ form.country }}</td></tr>
    <tr><td></td><td>{% if form.country.errors %}*** {{ form.country.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><h4>Shipping Information</h4></td></tr>
    
    <tr><td><label for="id_copy_address">Shipping same as billing?</label></td><td> {{ form.copy_address }}</td></tr>
    <tr><td></td><td>{% if form.copy_address.errors %}*** {{ form.copy_address.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><label for="id_ship_street1">Street</label></td><td> {{ form.ship_street1 }}</td></tr>
    <tr><td></td><td>{% if form.ship_street1.errors %}*** {{ form.ship_street1.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_ship_street2">Street</label></td><td> {{ form.ship_street2 }}</td></tr>
    <tr><td></td><td>{% if form.ship_street2.errors %}*** {{ form.ship_street2.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_ship_city">City</label></td><td> {{ form.ship_city }}</td></tr>
    <tr><td></td><td>{% if form.ship_city.errors %}*** {{ form.ship_city.errors|join:", " }}{% endif %}</td></tr>

    <tr><td><label for="id_ship_state">{{country.get_adm_area_display}}</label></td><td> {{ form.ship_state }}</td></tr>
    <tr><td></td><td>{% if form.ship_state.errors %}*** {{ form.ship_state.errors|join:", " }}{% endif %}</td></tr>
    
    <tr><td><label for="id_ship_postalCode">Zip code</label></td><td> {{ form.ship_postalCode }}</td></tr>
    <tr><td></td><td>{% if form.ship_postalCode.errors %}*** {{ form.ship_postalCode.errors|join:", " }}{% endif %}</td></tr>

<tr><td></td><td><input type="submit" value="Continue Checkout"/></td></tr>
</form>
</table>

{% endblock %}
