{% extends "base.html" %}


{% block navbar %}
<a href="{{shop_base}}">Home</a> 
{% endblock %}

{% block content %}

<h2>Reset your password</h2>

<p>Forgotten your password? Enter your e-mail address below, and we'll send a new password to you.</p>

<form action="" method="post">

	{% if form.email.errors %}
		<p class="error">{{ form.email.html_error_list }}</p>
	{% endif %}
	<label for="id_email">E-mail address:</label> {{ form.email }}
	<p>Be sure to enter the same e-mail address you used to register.</p>
    <input id="id_submit" type="submit" value="Reset password" />

</form>

{% endblock %}
