{% extends "base.html" %}

{% block navbar %}
<a href="{{shop_base}}/">Home</a> ::
Registration Complete
{% endblock %}

{% block content %}

<h3>Account Activation</h3>

{% if account %}
    <p>Thanks for signing up! You are now logged in.
    In the future, you can log in using your email address
    ({{ account.email }}).
    </p>
{% else %}
    <p>Either your activation link was incorrect, or the activation key for your
    account has expired. Activation keys are only
    valid for {{ expiration_days }} days after registration.</p>
{% endif %}

{% endblock %}
