{% extends "admin/base_site.html" %}
{% load i18n %}
{% load satchmo.currency_filter %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrastyle %}
<style>
 #content-related { float:right; width:29em; position:relative; margin-top: 3em; margin-right: -30em;}
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div id="content-main">

    {% include "admin/satchmo_app_list.html" %}

    {% load adminapplist %}
    {% load filter_adminapplist %}
    {% get_admin_app_list as app_list %}
    {% filter_admin_app_list app_list as app_list %}

    {% if app_list %}
        {% for app in app_list %}
            <div class="module">
            <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
            <caption>{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</caption>
            {% for model in app.models %}
                <tr>
                {% if model.perms.change %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name|escape }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name|escape }}</th>
                {% endif %}

                {% if model.perms.add %}
                    <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans "Add" %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.perms.change %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans "Change" %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    {% include "admin/order_sidebar.html" %}
    <a href=".?legacy=True">{% trans "Switch to Legacy View" %}</a>
</div>
{% endblock %}
